body {
  text-align: center;
  margin: 10%;
  font-size: 20px;
}

.logout-button {
  display: flex;
  align-items: center;
  position: absolute;
  right: 30px;
  top: 30px;
}

.username{
  margin-right: 50px;
}

.account-dragon-row-input {
  width: 100px;
  height: 20px;
  margin-right: 15px;
}

.dragon-avatar-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dragon-avatar-image-pattern {
  position: absolute;
}

.dragon-avatar-image-background {
  position: absolute;
}

.dragon-avatar-image {
  z-index: 0;
}

.dragon-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dragon-card{
  border:1px solid black;
  margin:5px 5px;
  height: 600px;
  width:400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dragon-image-container{
  display: flex;
  height: 330px;
  justify-content: center;
  width:350px;
}